#header{
	height:100px;

background-color:#fffff;
}
#head_title{
	padding:0px;
	text-align: center;
	font-family:Tahoma, serif;
	
}
.iconethm{
	margin-top: 10px;
}
#kontakt{
	font-size:small;
	color:#949494;
}
#content{
	
	height:450px;
	background-color:#80ffff;
}
#footer{
	height:70px;
/**font-size:10px;*/
	background-color:#69D2E7;
}
#linkMenu{
	width:350px;
	height:250px;
	background-color: #f4f887;
	float: left;
}
#rechtMenu{
	width:350px;
	height:250px;	
	background-color: #f4f887;
	float: right;
}
.submit{
margin-left:56px;
}
.element{
	display: block;
}
#center{
	
}
